@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
	--cor-primaria: #5a2c64;
	--cor-secundaria: #ece5f5;
	--cor-terciaria: #8e61a5;
	--cor-hover: #3d1845;

	--fonte-principal: "Krona One", sans-serif;
	--fonte-secundaria: "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.cabecalho {
	background-color: var(--cor-primaria);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	text-align: center;
	background-color: var(--cor-secundaria);
	font-family: var(--fonte-secundaria);
}

h2 {
	font-family: var(--fonte-principal);
	color: var(--cor-primaria);
	font-size: 24px;
	margin-bottom: 4%;
}

.fotoUser {
	width: 140px;
  height: auto;
}