@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
	--cor-primaria: #1e0723;
	--cor-secundaria: #ece5f5;
	--cor-terciaria: #6e357b;
	--cor-quartaria: #b467d5;
	--cor-hover: #450d51;

	--fonte-principal: "Krona One", sans-serif;
	--fonte-secundaria: "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	text-align: center;
	background-color: var(--cor-secundaria);
	font-family: var(--fonte-secundaria);
}

h1 {
	font-family: var(--fonte-principal);
	color: var(--cor-primaria);
	font-size: 24px;
	margin-bottom: 4%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--cor-primaria);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

label {
	padding: 10px;
	font-size: 14px;
	color: var(--cor-secundaria);
}

input {
	margin: 5px 0 15px 0;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	width: 100%;
	background-color: var(--cor-secundaria);
}

.botao {
	padding: 10px 20px;
	font-size: 16px;
	color: var(--cor-secundaria);
	background-color: var(--cor-primaria);
	border: 1px solid var(--cor-secundaria);
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}

.botao:hover {
	background-color: var(--cor-hover);
}

.esqueci {
	color: var(--cor-terciaria);
	text-decoration: none;
	font-size: 12px;
}

.esqueci:hover {
	color: var(--cor-quartaria);
}

.criarConta {
	color: var(--cor-secundaria);
	text-decoration: none;
	font-size: 15px;
	padding: 50px 10px 10px 10px;
}

.criarConta:hover {
	color: var(--cor-quartaria);
}
